@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-purple: rgba(119,61,189,1);
}

html {
    font-size: 17px;
}

.page-title {
    font-size: 2rem;
    color: var(--main-purple);
}