table th, table td   {
    border: 1px solid black;
    text-align: left;
    padding: 16px;
    line-height: 1;
}

.table th {
    background-color: var(--main-purple);
    opacity: .8;
    color: #fff;
}